set_io -nowarn CLK16MHz B2

set_io -nowarn BLINK_PIN B7


set_io -nowarn VSYNC H2

set_io -nowarn COUNT[0] H9
set_io -nowarn COUNT[1] D9
set_io -nowarn COUNT[2] D8
set_io -nowarn COUNT[3] C9
set_io -nowarn COUNT[4] A9
set_io -nowarn COUNT[5] B8
set_io -nowarn COUNT[6] A8
#set_io -nowarn COUNT[7] B7
